# Example environment file for notes_frontend
# Copy to ".env" and adapt as needed

# The backend API root, e.g. http://localhost:8000 or https://api.mynotes.com
REACT_APP_NOTES_API=http://localhost:8000
